
.app{
  max-width: 600px;
  margin: 0 auto;
}

.head{

}

/* Search Bar */
.search-bar{
  padding: 12px;
  display: flex;
}

.search-bar .tag-input{
  flex: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-bar .tag-input.dropdown-active{
  border-bottom-left-radius: 0;
}

.search-bar .tag-input > input{
  margin-left: 20px;
}
.search-bar .tag-input-dropdown{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 12px;
}

.search-bar .tag-input-dropdown .dropdown-item{
  padding: 0 20px;
}

.search-bar .btn-search{
  width: 16px;
  height: 40px;
  background: url(../img/icon-search.png) no-repeat center #4284f7;
  background-size: 24px 24px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 32px;
  cursor: pointer;
}

.search-bar .btn-search:active,
.search-bar .btn-search:hover {
  opacity: 0.5;
}

/* News List */
.news-list{
  padding: 12px 12px 0;
}

.newsbox{
  display: block;
  padding: 16px;
  margin: 0 0 16px;
  border: 1px solid #ededed;
  border-radius: 12px;
}

.newsbox:hover{
  text-decoration: none;
}

.newsbox .box-user{
  display: flex;
  align-items: center;
  padding: 0 0 6px;
}

.newsbox .box-icon{
  height: 20px;
  width: 20px;
  margin: 0 6px 0 0;
  background-color: #ededed;
}

.newsbox .box-name{
  font-size: 14px;
  color: #333;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.newsbox .box-body{
  display: flex;
}

.newsbox .box-main{
  min-width: 0;
  flex: 1;
}

.newsbox .box-cover{
  margin: 0 0 0 18px;
}

.newsbox .box-cover > img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 6px;
  background-color: #ededed;
}

.newsbox .box-title{
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.newsbox .box-title:hover{
  text-decoration: underline #333;
}

.newsbox .box-content{
  padding: 6px 0;
  font-size: 16px;
  color: #666;
  text-decoration: none;
}

.newsbox .box-foot{
  padding: 8px 0 0;
}

.newsbox .box-time{
  color: #888;
  font-size: 13px;
  line-height: 1;
}

/* Pager */
.pager{
  display: flex;
  justify-content: flex-end;
  padding: 0 12px 32px;
}

.pager .btn-page{
  border: 1px solid #ededed;
  border-radius: 6px;
  padding: 6px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #fff;
}

.pager .btn-page:hover,
.pager .btn-page:active{
  cursor: pointer;
  opacity: 0.5;
}